<%- include ../layouts/cabecera.ejs %>

    <form method="post" action="/revistas">

        <div class="form-group">
            <label for="my-input">Editorial</label>
            <input id="my-input" class="form-control" type="text" name="Editorial">
        </div>

        <div class="form-group">
            <label for="my-input">Fecha</label>
            <input id="my-input" class="form-control" type="text" name="Fecha">
        </div>

        <div class="form-group">
            <label for="my-input">Genero</label>
            <input id="my-input" class="form-control" type="text" name="Genero">
        </div>

        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>

    <%- include ../layouts/pie.ejs %>