<%- include ../layouts/cabecera.ejs %>
    <br />
    <div class="card">
        <div class="card-header">
            Formuulario de captura de Revistas
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos de la Revista</h5>
            <p class="card-text">
            <form method="post" action="/revistas">

                <div class="form-group">
                    <label for="my-input">Editorial</label>
                    <input id="my-input" class="form-control" type="text" name="editorial">
                </div>

                <div class="form-group">
                    <label for="my-input">Fecha</label>
                    <input id="my-input" class="form-control" type="date" name="fecha">
                </div>

                <div class="form-group">
                    <label for="my-input">Genero</label>
                    <input id="my-input" class="form-control" type="text" name="genero">
                </div>

                <button class="btn btn-success" type="submit">Guardar</button>
                <a class="btn btn-primary" href="/revistas">Cancelar</a>
            </form>
            </p>
        </div>
    </div>


    <%- include ../layouts/pie.ejs %>