<%- include ../layouts/cabecera.ejs %>
    <br />
    <br />
    <a href="/revistas/crear" class="btn btn-primary" type="button">Crear una nueva revista</a>
    <br />
    <br />

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>EDITORIAL</th>
                <th>FECHA</th>
                <th>GENERO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <% for( let revista=0; revista < revistas.length; revista++ ) { %>

                <tr>
                    <td>
                        <%revistas[revista].id%>
                    </td>
                    <td>
                        <%revistas[revista].editorial%>
                    </td>
                    <td>
                        <%revistas[revista].fecha%>
                    </td>
                    <td>
                        <%revistas[revista].genero%>
                    </td>
                    <td>Editar | Borrar</td>
                </tr>

                <% } %>


        </tbody>
    </table>
    <%- include ../layouts/pie.ejs %>